/* ── Research ── */
.research-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem;
  align-items: start;
}
.research-card { padding: 1.7rem; }

.rc-icon {
  float: left;
  width: 123px; height: 123px;
  border-radius: 10px;
  object-fit: cover;
  margin: 0 1rem 0.5rem 0;
  shape-image-threshold: 0.1;
  filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='f'%3E%3CfeColorMatrix type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 -1 -1 -1 3 0'/%3E%3C/filter%3E%3C/svg%3E%23f");
}
.rc-title {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.272rem; font-weight: 600;
  margin-bottom: 0.51rem;
}
.rc-desc { font-size: .87rem; color: var(--muted); text-align: justify; line-height: 1.602; }
